<b><a href="{{ form_url }}">{{ doctype }} {{ docname }}</a></b>
<br>
{{ weight }} кг
<br>
------
{%- for stop in stops -%}
    <br><br>
    <b>{{ loop.index }}. {{ stop.customer }}</b>
    {% if stop.delivery_type %}
        ({{ _(stop.delivery_type).lower() }}
        {%- if stop.installation -%}
         , {{ _("Installation").lower() }}
        {%- endif -%}
        )
    {% endif %}
    <br>
    {% if stop.phone %}{{ format_phone(stop.phone) }}<br>{% endif %}
    {% if stop.address and stop.route_url %}
      <a href="{{ stop.route_url }}">{{ stop.address }}</a>
    {% endif %}
    {% if stop.pending_amount > 0 %}
        <br>
        {{ format_money(stop.pending_amount) }}
    {% endif %}
    {% if stop.details %}
        <br>
        {{ stop.details }}
    {% endif %}
    <br>
    {{ stop.weight }} кг
    <br>
    {%- for item in stop.items_ -%}
        <br>
        &nbsp;&nbsp;&nbsp;— {{ format_item_code(item.item_code) or item.item_code }} ⨉ {{ item.qty }} шт ({{ item.item_name }})
    {%- endfor -%}
{%- endfor -%}
