#### macos ####
# General
*.DS_Store

#### python ####
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Tests
tests/.cache/

# Poetry
poetry.toml

#### js ####
node_modules
