include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include comfort *.css
recursive-include comfort *.csv
recursive-include comfort *.html
recursive-include comfort *.ico
recursive-include comfort *.js
recursive-include comfort *.json
recursive-include comfort *.md
recursive-include comfort *.png
recursive-include comfort *.py
recursive-include comfort *.svg
recursive-include comfort *.txt
recursive-exclude comfort *.pyc
