[tool.poetry]
name = "comfort"
version = "0.0.3"
description = "Lite-weight ERPNext alternative for specific business"
authors = ["vrslev <mail@vrslev.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
ikea-api = "^0.5.1"
ikea-api-extender = { git = "ssh://github.com/vrslev/ikea-api-extender.git" }
vk-api = "^11.9.4"
erpnext-telegram-integration = { git = "https://github.com/vrslev/erpnext_telegram.git" }
toml = "^0.10.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-cov = "^2.12.1"

[tool.black]
# https://black.readthedocs.io/en/stable/usage_and_configuration/the_basics.html#configuration-format
target-version = ["py37"]

[tool.isort]
profile = "black"
known_first_party = "frappe"

[tool.pyright]
# https://github.com/microsoft/pyright/blob/main/docs/configuration.md
exclude = ["node_modules", "__pycache__", ".ipynb_checkpoints"]
typeCheckingMode = "strict"
pythonVersion = "3.7"
reportGeneralTypeIssues = false # mostly unknown members and methods
reportUnknownMemberType = false
reportUnknownVariableType = false
reportMissingTypeStubs = false
reportPrivateUsage = false

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
build_command = "pip install -U pip poetry && poetry build"
commit_subject = "Ñhore: Update version to {version}"
upload_to_pypi = false

[tool.pytest.ini_options]
filterwarnings = "ignore:bleach-whitelist|the imp module"
cache_dir = "tests/.cache"
addopts = "--cov"

[tool.coverage.report]
skip_covered = true
skip_empty = true

[tool.coverage.run]
source = ["comfort"]
data_file = "tests/.cache/.coverage"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
