aiohttp==3.7.4.post0; python_version >= "3.6"
apscheduler==3.6.3; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
beautifulsoup4==4.9.3
brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2; python_version >= "3.6" and python_version < "4.0"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
erpnext-telegram-integration @ git+https://github.com/vrslev/erpnext_telegram@master
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
ikea-api @ git+git://github.com/vrslev/ikea-api-client.git@master
ikea-api-extender @ git+ssh://github.com/vrslev/ikea-api-extender.git@master
ikea-api-parser @ git+ssh://github.com/vrslev/ikea-api-parser.git@master
multidict==5.1.0; python_version >= "3.6"
python-telegram-bot==13.7; python_version >= "3.6"
pytz==2021.1; python_version >= "3.6"
requests==2.25.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
soupsieve==2.2.1; python_version >= "3.6"
tornado==6.1; python_version >= "3.6"
typing-extensions==3.10.0.0; python_version < "3.8" and python_version >= "3.6"
tzlocal==2.1; python_version >= "3.6"
urllib3==1.26.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
vk-api==11.9.4
yarl==1.6.3; python_version >= "3.6"
