<style>
  ol {
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }

  li::before {
    font-size: medium;
    font-weight: bold;
  }

  li ol > li {
    margin: 0;
  }

  li ol > li:before {
    font-size: small;
    font-weight: normal;
    content: counters(item, ".") ". ";
  }

  h5 {
    margin-bottom: -2%;
  }

  .line-up {
    border-bottom: solid black 1px;
  }

  .no-line-up {
    border-bottom: solid white 3px;
    padding-right: 1rem;
  }
</style>

<div class="page-break">
  <h1>Договор розничной купли-продажи</h1>

  <table class="table" style="margin-top: 1%">
    <td>Северодвинск</td>
    <td style="text-align: right">
      {{ frappe.utils.format_date(frappe.utils.today()) }}
    </td>
  </table>

  <p class="text-left medium" style="line-height: 150%; margin-bottom: 2%;">
    ИП Верещагин Владимир Александрович в лице Верещагина Владимира
    Александровича, именуемый в дальнейшем «Продавец», с одной стороны, и
    {{ doc.customer }}, паспорт: серия _____ номер _____, выдан
    __________________________________________________________________________________________
    (кем, когда), проживающий по адресу:
    ___________________________________________________, именуемый(ая) в
    дальнейшем «Покупатель», с другой стороны, вместе именуемые «Стороны»,
    заключили настоящий договор о нижеследующем:
  </p>

  <ol>
    <li>
      <h4>Предмет договора</h4>
      <ol>
        <li>
          Продавец обязуется передать товары и относящиеся к нему документы в
          собственность Покупателя, а Покупатель обязуется осмотреть товар,
          принять и оплатить его на условиях, установленных настоящим договором.
        </li>
        <li>
          Сведения о товарах:
          <ul>
            {% for item in doc.items %}

            <li>
              {{ format_item_code(item.item_code) or item.item_code }}: {{ item.item_name }} ⨉ {{ item.qty }} шт
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>Гарантийный срок на товар устанавливает производитель.</li>
        <li>Покупатель приобретает товар в личное пользование.</li>
      </ol>
    </li>
    <li>
      <h4>Права и обязанности сторон</h4>
      <ol>
        <li>
          Продавец обязуется:
          <ol>
            <li>
              передать товар и относящиеся к нему документы Покупателю на
              условиях, установленных настоящим договором
            </li>
            <li>обеспечить перевозку товара своими силами и за свой счёт</li>
            <li>
              передать товар свободным от любых прав и притязаний третьих лиц, о
              которых в момент заключения договора Продавец знал или не мог не
              знать.
            </li>
          </ol>
        </li>
        <li>
          Покупатель обязуется:
          <ol>
            <li>осмотреть и принять товар в 30-дневный срок</li>
            <li>
              уплатить за товар его цену в соответствии с условиями настоящего
              договора
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <h4>Цена товара и порядок расчётов</h4>
      <ol>
        <li>
          Цена товара составляет {{ format_money(doc.total_amount) }}. Цена товара

          {% set joined_services = doc.services | map(attribute="type") | join %}

          {% if "Delivery" in joined_services or "Installation" in joined_services %}
            включает в себя
          {% else %}
            не включает в себя доставку.
          {% endif %}

          {% if "Delivery" in joined_services and "Installation" in joined_services %}
            доставку до
            {% if "to Apartment" in joined_services %}
              квартиры
            {% elif "to Entrance" in joined_services %}
              подъезда
            {% endif %}
              и установку.
          {% elif "Delivery to Apartment" in joined_services %}
              доставку до квартиры.
          {% elif "Delivery to Entrance" in joined_services %}
              доставку до подъезда.
          {% elif "Installation" in joined_services %}
              установку.
          {% endif %}
        </li>
        <li>Расчеты по договору производятся путем: 100% предоплаты.</li>
        <li>Покупатель оплачивает товар при заключении договора.</li>
        <li>Форма оплаты: наличными деньгами.</li>
      </ol>
    </li>

    <li>
      <h4>Порядок исполнения договора</h4>
      <ol>
        <li>
          Передача товара в соответствии с условиями настоящего договора
          производится по месту нахождения Продавца.
        </li>
        <li>
          Переход риска утраты или повреждения товара определяется в
          соответствии с требованиями гражданского законодательства,
          действующего на территории России.
        </li>
        <li>
          Перевозка товара до места передачи осуществляется Продавцом за счёт
          Продавца.
        </li>
        <li>
          Продавец передает Покупателю товар в течение 30 рабочих дней со дня
          подписания настоящего договора.
        </li>
      </ol>
    </li>
    <li>
      <h4>Ответственность сторон</h4>
      <ol>
        <li>
          За просрочку передачи товара Продавец уплачивает Покупателю пени в
          размере 0,01% его стоимости за каждый день просрочки.
        </li>
        <li>
          Уплата неустойки не освобождает стороны от обязанности исполнить свои
          обязательства, вытекающие из настоящего договора.
        </li>
        <li>
          Меры имущественной ответственности сторон, не предусмотренные в
          настоящем договоре, применяются в соответствии с нормами
          законодательства, действующего на территории России.
        </li>
      </ol>
    </li>
    <li>
      <h4>Заключительные положения</h4>
      <ol>
        <li>
          Настоящий договор составлен в двух экземплярах, подписанных сторонами,
          имеющих равную юридическую силу, по одному экземпляру для каждой из
          сторон.
        </li>
        <li>
          Настоящий договор вступает в силу в день его подписания и действует до
          фактического исполнения сторонами вытекающих из него обязательств.
        </li>
      </ol>
    </li>
    <li>
      <h4>Адреса и реквизиты сторон</h4>
      <table style="font-size: inherit; margin-top: -2%; margin-left: -1%; line-height: 150%;">
        <td class="text-left">
          <p>
            <h5>Продавец</h6>
            <br />
            ИП Верещагин Владимир Александрович
            <br />
            ИНН 290209938070
            <br />
            ОГРНИП 3180290100015680
            <br />
            Юридический адрес: Северодвинск, ул. Первомайская, 49, кв. 58
            <br />
            Адрес пункта выдачи: Северодвинск, ул. Железнодорожная, 3А
            <br />
            Номер телефона: 8 (911) 568–74–80
            <br />
          </p>
        </td>
        <td class="text-left">
          <p style="width: 300px">
            <h5>Покупатель</h6>
            <br />

            <p class="line-up"><span class="no-line-up">ФИО:</span></p>
            <p class="line-up"><span class="no-line-up">Адрес:</span></p>
            <p class="line-up"><span class="no-line-up">Номер телефона:</span></p>
            <p class="line-up"><span class="no-line-up">Покупатель:</span></p>
          </p>
        </td>
      </table>
    </li>
  </ol>
</div>
