{{customer_first_name}}, здравствуйте! Ваш заказ готов!
Его можно забрать {{weekday}}, {{day}} {{month}}, с 16:30 до 18:00.
Адрес: Железнодорожная, 3А. Номер телефона для связи: 8 (911) 568–74–80, Владимир.
{% if not has_delivery -%}
Кроме того, доступна доставка до подъезда, 100 ₽.
{% endif -%}
