{{ customer_first_name }}, здравствуйте! Ваш заказ готов!
{% if has_delivery %}
Планируем доставку. Пожалуйста, напишите:
— адрес,
— номер телефона,
— когда сможете принять на этой неделе.
{% else %}
Его можно забрать {{ weekday }}, {{ day }} {{ month }}, с 16:30 до 18:00.
Адрес: Железнодорожная, 3А. Номер телефона для связи: 8 (911) 568–74–80, Владимир.
Кроме того, доступна доставка до подъезда, 150 ₽.
{% endif %}
{% if pending_amount -%}
Сумма к оплате — {{ format_money(pending_amount) }}.
{% endif -%}